{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <script src="{% static 'main.js' %}"></script>
</head>
<body>
    <h1>Детали заказа №{{ order.id }}</h1>
    <p>Имя клиента: {{ order.client_name }}</p>
    <p>Услуга: {{ order.services.0 }}</p>
    <p>Мастер: {{ master.name }}</p>
    <p>Дата: {{ order.date }}</p>
    <p>Статус: {{ order.status }}</p>
</body>
</html>