{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <script src="{% static 'main.js' %}"></script>
</head>
<body>
    <h1>Главная страница</h1>
    <h2>Наши мастера:</h2>
    {% for master in masters %}
    <p>{{ master.name }}</p>
    {% endfor %}
    <h2>Наши услуги:</h2>
    {% for service in services %}
        <p>{{ service }}</p>
    {% endfor %}
</body>
</html>