{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="{% url 'landing' %}">
      <img src="{% static 'images/BarderSteel.jpg' %}" alt="SteelBarber" height="40" class="me-2">
      <span class="d-none d-sm-inline">BarberSteel</span>
    </a>
    
    <button class="navbar-toggler custom-toggler" type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarContent"
            aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% for item in menu_items %}
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url item.url_name %}"
            >{{ item.name }}</a>
          {% endfor %}

        <li class="nav-item">
          <a class="nav-link active" href="{% url 'landing' %}#about">О нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'landing' %}#service">Услуги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'landing' %}#masters">Мастера</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'landing' %}#booking">Запись</a>
        </li>
        {% if user.is_staff %}  <!-- Только для персонала -->
        <li class="nav-item">
          <a class="nav-link active text-warning" href="{% url 'orders_list' %}">
            <i class="fas fa-list-check me-1"></i> Список заказов
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>